<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="./styles/home.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <title>About us</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./partials/navBar') %>
    <!-- Main Content -->
    <div class="container my-5">
      <h1 class="text-center mb-5">About Us</h1>
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 p-3">
          <img
            src="https://free-images.com/md/4b27/shoes_hiking_shoes_hiking_0.jpg"
            alt="Shoe Shop Image"
            class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h2 class="mb-3">Who We Are</h2>
          <p>
            We are an online shoe shop that specializes in providing
            high-quality shoes for men and women. Our mission is to
            help you find the perfect pair of shoes that not only look
            great but feel comfortable too. We understand that
            everyone has different needs when it comes to footwear,
            which is why we offer a wide variety of styles, sizes, and
            brands to choose from.
          </p>
          <p>
            At our online store, you'll find everything from casual
            sneakers to dress shoes, as well as boots, sandals, and
            more. We work with some of the best shoe manufacturers in
            the world to bring you the latest trends and highest
            quality footwear available.
          </p>
          <p>
            Our team is dedicated to providing you with the best
            shopping experience possible. We offer fast and free
            shipping, easy returns, and excellent customer service. If
            you have any questions or concerns, don't hesitate to
            contact us.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
