@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("./images/signupBackground.webp");
}
