<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.default.min.css" />
    <script
      src="https://kit.fontawesome.com/87eaffeb77.js"
      crossorigin="anonymous"></script>
    <title>Signup Form</title>
  </head>
  <body>
    <div class="signupSection">
      <div class="info">
        <h2>The Future Is Here</h2>
        <i class="fa-solid fa-meteor"></i>
        <p onclick="redirectToLogin()">Already have an account?</p>
      </div>
      <form class="signupForm" name="signupform">
        <h2>Sign Up</h2>
        <ul class="noBullet">
          <li>
            <label for="firstname"></label>
            <input
              type="text"
              class="inputFields"
              id="firstname"
              name="firstname"
              placeholder="Fristname" />
          </li>
          <li>
            <label for="lastname"></label>
            <input
              type="text"
              class="inputFields"
              id="lastname"
              name="lastname"
              placeholder="Lastname" />
          </li>
          <li>
            <label for="password"></label>
            <input
              type="password"
              class="inputFields"
              id="password"
              name="password"
              placeholder="Password" />
          </li>
          <li>
            <label for="username"></label>
            <input
              type="text"
              class="inputFields"
              id="username"
              name="username"
              placeholder="Username" />
          </li>
          <li>
            <label for="gender"></label>
            <select name="gender" id="gender" class="inputFields">
              <option value="none" selected>Rather not say</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </li>
          <li id="center-btn">
            <input
              type="submit"
              id="join-btn"
              name="join"
              alt="Join"
              value="Join" />
          </li>
        </ul>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/polipop/dist/polipop.min.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/redirect.js"></script>
  </body>
</html>
